<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!--
	Plantilla o fragment para el javascript
-->

<body>

	<!--script del tipo text/javascript y un fragment que nombraremos javascript-->
	<script type="text/javascript" th:fragment="javascript">

		//Nos aseguramos que el documento html este completamente cargado, usando el metodo ready
		//dentro del ready una funcion e implementamos el autocomplete que esta asociado al campo con el id buscar_producto
		$(document).ready(function () {
			$("#buscar_producto").autocomplete({
				//recibe un objeto que contiene dos metodos: el metodo source que se encarga de realizar la peticion ajax
				source: function (request, response) {
					//invocamos el metodo ajax
					$.ajax({
						//pasamos un objeto con todos los parametros y la implementacion del metodo success para manejar la respuesta
						//maping url hacia un metodo handler del controlador que maneja la peticion ajax. 
						//+ parametro variable a la ruta que contiene el texto que estamos escribiendo en el campo de texto.
						//Dentro del parametro term del objeto request se almacena lo que se esta escribiendo
						url: "/factura/cargar-productos/" + request.term,
						dataType: "json", //tipo de dato json
						//Opcionalmente pasamos el request.term como request.param, en un arreglo
						//en este arreglo se puede guardar cualquier tipó de parametro que queramos enviar
						//post o get, en este caso sera get
						data: {
							term: request.term //le damos el nombre de term
						},
						//funcion success que recibe los datos en formato json y se pasa al autocomplete
						success: function (data) {
							//pasamos la respuesta al autocomplete usando response con el metodo map, el cual se encarga 
							//de realizar un proceso por cada elemento del arreglo (data). Como primer parametro le
							//pasamos el arreglo y como segundo parametro una funcion anonima que contiene
							//el valor de cada elemento (item) y retornara el id, nombre y precio
							response($.map(data, function (item) {
								return {
									value: item.id,
									label: item.nombre,
									precio: item.precio,
								};
							}));
						},
					});
				},

				//este codigo hace que se muestre el nombre del producto en el campo buscar en lugar de su id. Esto pasaba al usar las teclas de flechas
				focus: function (event, ui) {
					event.preventDefault();
					$('input[name="buscar_producto"]').val(ui.item.label);
				},


				//implementamos el segundo metodo select que nos permite realizar cualquier tipo de tarea al seleccionar un elemento
				//del autocomplete, por ejemplo al seleccionar y crear la linea de la factura o pasar el elemento seleccionado como valor al campo buscar producto
				//en este caso tomaremos el label del producto y los mostraremos en el campo buscar producto
				select: function (event, ui) {
					//al campo buscar producto le pasamos el valor que es la etiqueta del producto
					//$("#buscar_producto").val(ui.item.label); //ya no se necesita
					
					//antes de crear una linea de factura, preguntamos si el producto existe
					//usamos el metodo hasProducto que esta dentro del objeto itemsHelper y le pasamos el id que obtenemos a traves del objeto ui (user interface)
					if(itemsHelper.hasProducto(ui.item.value)){
						//si existe el producto, incrementamos la cantidad llamando al metodo, le pasamos el id y el precio
						itemsHelper.incrementaCantidad(ui.item.value, ui.item.precio);
						return false; //retornamos false ya que si el producto existe solo incrementa la cantidad en uno
					}

					//creamos las lineas de la factura a traves de la plantilla para reemplazar {ID} {NOMBRE} {PRECIO}
					//a traves del Id obtendremos el contenido de la plantilla
					var linea = $("#plantillaItemsFactura").html();

					//Reemplazamos los parametros por sus valores reales
					//Los valores (item) los obtenemos a traves de ui.item.
					linea = linea.replace(/{ID}/g, ui.item.value);
					linea = linea.replace(/{NOMBRE}/g, ui.item.label);
					linea = linea.replace(/{PRECIO}/g, ui.item.precio);
					//agregamos la linea anterior al tbody de la tabla cargarItemProductos
					$("#cargarItemProductos tbody").append(linea);
					//invocamos la funcion calcularImporte a traves de itemsHelper, le pasamos el id, precio y cantidad (1 por defecto)
					itemsHelper.calcularImporte(ui.item.value, ui.item.precio, 1);

					return false; //retornamos false
				}
			});
		});
		
		//Funcion para calcular el importe
		//Definimos un objeto de JS llamado itemsHelper que contendra metodos que nos ayudaran
		var itemsHelper = {
			calcularImporte: function(id, precio, cantidad){
				//#total_importe_ hace referencia a la columna del total y se le concantena el id
				//.html permite agregar contenido, en lugar del cero por defecto, agregara el total (precio*cantidad)
				$("#total_importe_" + id).html(parseInt(precio) * parseInt(cantidad));
			},
			//Esta funcion se encarga de buscar en cada linea de la factura si existe el id del producto
			hasProducto: function(id){
				
				var resultado = false; //variable resultado y la inicializamos con false
				//input[name="item_id[]"] hace referencia al input "item_id de la "plantilla-items" que contiene el valor del id
				//con un each, usamos una funcion anonima para cada input que contenga el item_id[], preguntamos con if si
				//el id que se pasa por argumento (parseado a entero) es igual al valor del input(parseado a entero)
				$('input[name="item_id[]"]').each(function(){
					if(parseInt(id) == parseInt($(this).val()) ){
						resultado = true;	
					}
				});
				return resultado;
			},
			//metodo que incrementa la cantidad de la linea ya existente. Pasamos id y precio
			//no pasamos la cantidad ya que la obtenemos del id del elemento
			incrementaCantidad: function(id,precio){
				//obtenemos la cantidad del elemento, pero primero validamos si tiene un valor numerico, si tiene la convertimos en integer de lo contrario retornamos cero
				var cantidad = $("#cantidad_" + id).val() ? parseInt($("#cantidad_" + id).val()) : 0;
				//regresamos el valor incrementado al elemento input "cantidad_""
				$("#cantidad_" + id).val(++cantidad);
				//actualizamos el importe invocando el metodo calcularImporte, usamos this ya que estamos dentro del mismo objeto itemsHelper
				this.calcularImporte(id, precio, cantidad);
			},
			//Metodo para eliminar linea de la factura
			eliminarLineaFactura: function(id){
				//hacemos referencia al id de la fila en plantilla-items dentro del tr esta row_
				$("#row_" + id).remove();
			}
		}
	</script>

</body>

</html>
