<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>Insert title here</title>
	</head>
	
	<body>

	<!--Navigator que nos servira para navegar enre los numeros de pagina-->
	<nav th:fragment="paginator">
		<ul class="pagination">
			
			<li> <!--Para la primera pagina-->
				<!--preguntamos si estamos en la primera pagina, entonces muestra el span-->
				<span th:if="${page.first}">primera</span>
				<!--Pregunta si no es la primera pagina, entonces muestra el link hacia la primera pagina con th:href-->
				<a th:if="${not page.first}" th:href="@{${page.url}(page=0)}">primera</a>
			</li>
			
			<li> <!--Para una pagina anterior-->
				<!--Si no tiene pagina anterior mostramos el span-->
				<span th:if="${not page.hasPrevious}">anterior</span>
				<!--Si tiene pagina anterior mostramos el link-->
				<a th:if="${page.hasPrevious}" th:href="@{${page.url}(page=${page.paginaActual-2})}">anterior</a>
			</li>
			
			<!--Para cada una de las paginas-->
			<!--each, por cada item en page.paginas (listado de paginas)-->
			<li th:each="item : ${page.paginas}">
				<!--Mostramos las paginas-->
				<!--Si estamos en la pagina actual se muestra el span con el numero de la pagina. item es un objeto de PageItem y tiene la variable booleana "actual"-->
				<span th:if="${item.actual}" th:text="${item.numero}"></span>
				<!--Si no estamos en la pagina actual muestra un link-->
				<a th:if="${not item.actual}" th:href="@{${page.url}(page=${item.numero-1})}" th:text="${item.numero}"></a>
			</li>
			
			<li> <!--Para pagina siguiente-->
				<span th:if="${not page.hasNext}">siguiente</span>
				<a th:if="${page.hasNext}" th:href="@{${page.url}(page=${page.paginaActual})}">siguiente</a>
			</li>
			
			<li> <!--Para la pagina final-->
				<!--Preguntamos si estamos en la ultima pagina, entonces mostramos el span-->
				<span th:if="${page.last}">ultima</span>
				<!--Preguntamos si no estamos en la ultima pagina, entonces mostramos el link a la ultima pagina-->
				<a th:if="${not page.last}" th:href="@{${page.url}(page=${page.totalPaginas-1})}">ultima</a>
			</li>
		</ul>
	</nav>
	</body>	
</html>